<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <form method="POST" action="/register" class="registration-form">
        <input type="email" name="email" placeholder="Insert your email" required>
        <input type="password" name="password" placeholder="Insert your password" required>
        <input type="text" name="firstName" placeholder="Ingrese su nombre" required>
        <input type="text" name="lastName" placeholder="Ingrese su apellido" required>
        <input type="date" name="birthDate" required>
        <input type="tel" name="phoneNumber" placeholder="Ingrese su numero de telefono" required>
        <input type="text" name="dni" placeholder="Ingrese su DNI" required>
        <input type="submit" value="Register">
    </form>
</body>
</html>